body {
    background: url("../FINAL/backgrounds/background3.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}



